*{box-sizing:border-box}
html,body {
  margin: 0;
  padding:0;
  overflow:hidden;
  max-width: 100vw;
  max-height:100vh;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  display: grid;
  grid-template-columns: 1.5fr 0.05fr 1fr;
  align-content: center;
  align-items: center;
  grid-gap: 4vw;
}

 
 

hr {
  border: none;
  background-color: currentcolor;
  display: block;
  appearance: none;
  width: 0.2vw;
  min-width: 1px;
  height: 30vw;
  opacity: 0.5;
}